---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hello World">
  <main class="mx-auto p-6 max-w-prose text-center">
    <h1 class="text-5xl font-extrabold m-0">Hello World</h1>
    <p>¡Bienvenido a mi sitio Astro!</p>
  </main>
</Layout>
