---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hello World">
  <main>
    <h1>Hello World</h1>
    <p>¡Bienvenido a mi sitio Astro!</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>